<form class="form-horizontal" action="{{ url }}" method="post" id="payment">
  <input type="hidden" name="token_ws" value="{{ token_ws }}"/>
  <div class="buttons">
    <div class="pull-right">
      <button type="submit" class="btn btn-primary" id="button_confirm">{{ button_confirm }}</button>
    </div>
  </div>
</form>
